---
import Section from "./Section.astro";
---

<Section title="Accesorios" color="black">
  <div slot="footer">
    <a
      class="border-[3px] border-black bg-black rounded text-sm font-medium px-12 py-2 text-white inline-block"
      href="#">Comprar ahora</a
    >
  </div>
  <img
    slot="background"
    src="/accessories.avif"
    alt="Model Y"
    class="h-full w-full object-cover object-center"
  />
</Section>
