<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conduccion
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex justify-center gap-x-6">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 text-white inline-block hover:border-gray-500 hover:bg-gray-500 hover:text-black transition-colors"
          href="#">Explorar inventario</a
        >
        <a
          class="bg-white rounded text-sm font-medium px-12 py-2 text-black inline-flex justify-center items-center hover:text-white hover:bg-black transition-colors"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute bottom-0 top-0 h-full w-full z-10">
    <img
      src="/model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
