<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">
        Disfrute de Tesla
      </h2>
      <p class="text-white text-sm">
        Programe una prueba de conduccion hoy mismo
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div>
        <a
          class="border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm font-medium px-12 py-2 text-white inline-block hover:text-black hover:bg-white transition-colors"
          href="#">Prueba de conduccion</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute bottom-0 top-0 h-full w-full z-10">
    <video
      class="object-cover object-center h-full w-full"
      src="/video.webm"
      autoplay
      loop
      muted></video>
  </div>
</section>
