---
import Section from "./Section.astro";
---

<Section
  title="Disfrute de tesla"
  subtitle="Programe una prueba deconducion hoy mismo"
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm font-medium px-12 py-2 text-white inline-block hover:text-black hover:bg-white transition-colors"
      href="#">Prueba de conduccion</a
    >
  </div>
  <video
    slot="background"
    class="object-cover object-center h-full w-full"
    src="/video.webm"
    autoplay
    loop
    muted></video>
</Section>
