---
import Logo from "./Logo.astro";
---

<header
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white xl:hidden"
  id="landing-header"
>
  <div>
    <Logo />
  </div>

  <nav class="flex flex-grow basis-0 justify-end">
    <ul
      class="flex text-sm [&>li>a]:text-current [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`absolute bg-black/5 backdrop-blur-lg rounded
           translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 w-[var(--width)] h-[var(--height)]
           transition-all duration-300 ease-in-out opacity-0 -z-10`}
  >
  </div>
</header>
