---
import Section from "./Section.astro";
---

<Section title="Solar y Powerwall" subtitle="Energia para todos" color="black">
  <div slot="footer" class="flex justify-center gap-x-6">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 text-white inline-block hover:border-gray-500 hover:bg-gray-500 hover:text-black transition-colors"
      href="#">Saber mas</a
    >
  </div>
  <img
    slot="background"
    src="/powerwall.avif"
    alt="house"
    class="h-full w-full object-cover object-center"
  />
</Section>
